### Görev 1
Verilen veri yapılarını inceleyiniz.

In [1]:
x = 8
print(type(x))

<class 'int'>

In [2]:
y = 3.2
print(type(y))

<class 'float'>

In [3]:
z = 8j + 18
print(type(z))

<class 'complex'>

In [4]:
a = "Hello World"
print(type(a))

<class 'str'>

In [5]:
b = True
print(type(b))

<class 'bool'>

In [6]:
c = 23 < 22
print(type(c))

<class 'bool'>

In [7]:
l = [1,2,3,4]
print(type(l))

<class 'list'>

In [8]:
d = {"Name": "Jake",
     "Age":27,
     "Adress": "Downtown"
     }
print(type(d))

<class 'dict'>

In [10]:
t = {"Machine Learning","Data Science"}
print(type(t))

<class 'set'>

In [11]:
s = {"Python","Machine Learning","Data Science"}
print(type(s))

<class 'set'>

### Görev 2

Verilen string ifadenin tüm harflerini büyük harfe çeviriniz. Virgül ve nokta yerine space koyunuz,kelime kelime ayırınız.

In [12]:
text = "The goal is to turn data into information, and information into insight."
upper = text.upper()
print(upper.split(" "))

['THE', 'GOAL', 'IS', 'TO', 'TURN', 'DATA', 'INTO', 'INFORMATION,', 'AND', 'INFORMATION', 'INTO', 'INSIGHT.']

### Görev 3

Verilen listeye aşağıdaki adımları uygulayınız


lst = ["D","A","T","A","S","C","I","E","N","C","E"]

In [13]:
lst = ["D","A","T","A","S","C","I","E","N","C","E"]
#Adım 1: Verilen listenin eleman sayısına bakınız.
print(len(lst))

11

In [14]:
#Adım 2: Sıfırıncı ve onuncu indeksteki elemanları çağırınız.
print(lst[0])
print(lst[10])

D
E

In [15]:
#Adım 3: Verilen liste üzerinden ["D", "A", "T", "A"] listesi oluşturunuz.
newList = lst[0:4]
print(newList)

['D', 'A', 'T', 'A']

In [16]:
#Adım 4: Sekizinci indeksteki elemanı siliniz.
lst.pop(8)
print(lst)

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']

In [17]:
#Adım 5: Yeni bir eleman ekleyiniz.
lst.append(1)
print(lst)

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E', 1]

In [18]:
#Adım 6: Sekizinci indekse "N" elemanını tekrar ekleyiniz.
lst.insert(8,"N")
print(lst)

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', 1]

### Görev 4

In [19]:
dict = {'Christian': ["America", 18],
        "Daisy": ["England", 12],
        "Antonio": ["Spain", 22],
        "Dante": ["Italy", 25]}
# Adım 1: Key değerlerine erişiniz.
print(dict.keys())

dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])

In [20]:
# Adım 2: Value'lara erişiniz.
print(dict.values())

dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])

In [21]:
# Adım 3: Daisy key'ine ait 12 değerini 13 olarak güncelleyiniz.
dict["Daisy"][1] = 13
print(dict)

{'Christian': ['America', 18], 'Daisy': ['England', 13], 'Antonio': ['Spain', 22], 'Dante': ['Italy', 25]}

In [22]:
# Adım 4: Key değeri Ahmet value değeri [Turkey,24] olan yeni bir değer ekleyiniz.
dict["Ahmet"] = ["Turkey", 24]
print(dict)

{'Christian': ['America', 18], 'Daisy': ['England', 13], 'Antonio': ['Spain', 22], 'Dante': ['Italy', 25], 'Ahmet': ['Turkey', 24]}

In [23]:
# Adım 5: Antonio'yu dictionary'den siliniz.
dict.pop("Antonio")
print(dict)

{'Christian': ['America', 18], 'Daisy': ['England', 13], 'Dante': ['Italy', 25], 'Ahmet': ['Turkey', 24]}

### Görev 5
Argüman olarak bir liste alan, listenin içerisindeki tek ve çift sayıları ayrı listelere atayan ve bu listeleri
return eden fonksiyon yazınız.

In [24]:
l = [2, 13, 18, 93, 22]
def oddEven(myList):
    #output = [[], []]
    odd = []
    even = []
    for i in myList:
        if i % 2 == 0:
            even.append(i)
        else:
            odd.append(i)

    return even, odd

even, odd = oddEven(l)

print(even)
print(odd)

[2, 18, 22]
[13, 93]

### Görev 6
List Comprehension yapısı kullanarak car_crashes verisindeki numeric değişkenlerin isimlerini büyük
harfe çeviriniz ve başına NUM ekleyiniz
```python

 Beklenen Çıktı
 ['NUM_TOTAL',
  'NUM_SPEEDING',
  'NUM_ALCOHOL',
  'NUM_NOT_DISTRACTED',
  'NUM_NO_PREVIOUS',
  'NUM_INS_PREMIUM',
  'NUM_INS_LOSSES',
  'ABBREV']
  ```
Notlar:
 Numerik olmayanların da isimleri büyümeli.
 Tek bir list comp yapısı ile yapılmalı.

In [25]:
import seaborn as sns
df = sns.load_dataset("car_crashes")

df.columns = ["NUM_" + col.upper() if df[col].dtype != "O" else col.upper() for col in df.columns]
print(df.columns)

Index(['NUM_TOTAL', 'NUM_SPEEDING', 'NUM_ALCOHOL', 'NUM_NOT_DISTRACTED',
       'NUM_NO_PREVIOUS', 'NUM_INS_PREMIUM', 'NUM_INS_LOSSES', 'ABBREV'],
      dtype='object')

Görev 7

List Comprehension yapısı kullanarak car_crashes verisinde isminde "no" barındırmayan
değişkenlerin isimlerinin sonuna "FLAG" yazınız.
Notlar:
Tüm değişken isimleri büyük olmalı.
Tek bir list comp ile yapılmalı.
```python
Beklenen çıktı:
['TOTAL_FLAG',
 'SPEEDING_FLAG',
 'ALCOHOL_FLAG',
 'NOT_DISTRACTED',
 'NO_PREVIOUS',
 'INS_PREMIUM_FLAG',
 'INS_LOSSES_FLAG',
 'ABBREV_FLAG']

In [26]:
df = sns.load_dataset("car_crashes")

b = [col.upper() if "no" in col else col.upper() + "_FLAG" for col in df.columns]
print(b)

['TOTAL_FLAG', 'SPEEDING_FLAG', 'ALCOHOL_FLAG', 'NOT_DISTRACTED', 'NO_PREVIOUS', 'INS_PREMIUM_FLAG', 'INS_LOSSES_FLAG', 'ABBREV_FLAG']

### Görev 8
List Comprehension yapısı kullanarak aşağıda verilen değişken isimlerinden FARKLI olan
değişkenlerin isimlerini seçiniz ve yeni bir dataframe oluşturunuz.

og_list = ["abbrev", "no_previous"]

Notlar:
* Önce yukarıdaki listeye göre list comprehension kullanarak new_cols adında yeni liste oluşturunuz.
* Sonra df[new_cols] ile bu değişkenleri seçerek yeni bir df oluşturunuz adını new_df olarak isimlendiriniz.
```python
Beklenen çıktı:
   total  speeding  alcohol  not_distracted  ins_premium  ins_losses
0 18.800     7.332    5.640          18.048      784.550     145.080
1 18.100     7.421    4.525          16.290     1053.480     133.930
2 18.600     6.510    5.208          15.624      899.470     110.350
3 22.400     4.032    5.824          21.056      827.340     142.390

In [27]:
df = sns.load_dataset("car_crashes")
og_list = ["abbrev", "no_previous"]
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [29]:
newCols = [col for col in df.columns if col not in og_list]
newDf = df[newCols]
newDf

    total  speeding  alcohol  not_distracted  ins_premium  ins_losses
0    18.8     7.332    5.640          18.048       784.55      145.08
1    18.1     7.421    4.525          16.290      1053.48      133.93
2    18.6     6.510    5.208          15.624       899.47      110.35
3    22.4     4.032    5.824          21.056       827.34      142.39
4    12.0     4.200    3.360          10.920       878.41      165.63
5    13.6     5.032    3.808          10.744       835.50      139.91
6    10.8     4.968    3.888           9.396      1068.73      167.02
7    16.2     6.156    4.860          14.094      1137.87      151.48
8     5.9     2.006    1.593           5.900      1273.89      136.05
9    17.9     3.759    5.191          16.468      1160.13      144.18
10   15.6     2.964    3.900          14.820       913.15      142.80
11   17.5     9.450    7.175          14.350       861.18      120.92
12   15.3     5.508    4.437          13.005       641.96       82.75
13   12.8     4.608    4.352          12.032       803.11      139.15
14   14.5     3.625    4.205          13.775       710.46      108.92
15   15.7     2.669    3.925          15.229       649.06      114.47
16   17.8     4.806    4.272          13.706       780.45      133.80
17   21.4     4.066    4.922          16.692       872.51      137.13
18   20.5     7.175    6.765          14.965      1281.55      194.78
19   15.1     5.738    4.530          13.137       661.88       96.57
20   12.5     4.250    4.000           8.875      1048.78      192.70
21    8.2     1.886    2.870           7.134      1011.14      135.63
22   14.1     3.384    3.948          13.395      1110.61      152.26
23    9.6     2.208    2.784           8.448       777.18      133.35
24   17.6     2.640    5.456           1.760       896.07      155.77
25   16.1     6.923    5.474          14.812       790.32      144.45
26   21.4     8.346    9.416          17.976       816.21       85.15
27   14.9     1.937    5.215          13.857       732.28      114.82
28   14.7     5.439    4.704          13.965      1029.87      138.71
29   11.6     4.060    3.480          10.092       746.54      120.21
30   11.2     1.792    3.136           9.632      1301.52      159.85
31   18.4     3.496    4.968          12.328       869.85      120.75
32   12.3     3.936    3.567          10.824      1234.31      150.01
33   16.8     6.552    5.208          15.792       708.24      127.82
34   23.9     5.497   10.038          23.661       688.75      109.72
35   14.1     3.948    4.794          13.959       697.73      133.52
36   19.9     6.368    5.771          18.308       881.51      178.86
37   12.8     4.224    3.328           8.576       804.71      104.61
38   18.2     9.100    5.642          17.472       905.99      153.86
39   11.1     3.774    4.218          10.212      1148.99      148.58
40   23.9     9.082    9.799          22.944       858.97      116.29
41   19.4     6.014    6.402          19.012       669.31       96.87
42   19.5     4.095    5.655          15.990       767.91      155.57
43   19.4     7.760    7.372          17.654      1004.75      156.83
44   11.3     4.859    1.808           9.944       809.38      109.48
45   13.6     4.080    4.080          13.056       716.20      109.61
46   12.7     2.413    3.429          11.049       768.95      153.72
47   10.6     4.452    3.498           8.692       890.03      111.62
48   23.8     8.092    6.664          23.086       992.61      152.56
49   13.8     4.968    4.554           5.382       670.31      106.62
50   17.4     7.308    5.568          14.094       791.14      122.04